
venv/
.idea/
.git/
.externalNativeBuild/
android/.gradle/
android/build/
android/app/build/
*.pyc
*.pyo
*.enamlc
*.coverage*
*.kate-swp
*.egg-info
.cache/
.kdev4/
*.kdev4

dist/
build/
docs/_build/
coverage.xml
tmp/
